<div class="jumbotron">
  <div class="container">
    <h1 class="display-4">{{'pages.features.headline' | translate}}</h1>
  </div>
</div>

<section class="default-section">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-md-7">
        <h2>{{'pages.features.overview.headline' | translate}}</h2>
        <p class="text-justify">{{'pages.features.overview.information' | translate}}</p>
        <ul class="text-justify">
          <li>{{'pages.features.overview.information-list.item-1' | translate}}</li>
          <li>{{'pages.features.overview.information-list.item-2' | translate}}</li>
          <li>{{'pages.features.overview.information-list.item-3' | translate}}</li>
        </ul>
      </div>
      <div class="col-md-5">
        <div class="row">
          <div class="col-6">
            <p class="text-center">
              <img src="assets/img/app-list-l.png" class="shadow-sm p-1 m-1 bg-white rounded w-100">
            </p>
          </div>
          <div class="col-6">
            <p class="text-center">
              <img src="assets/img/app-list-d.png" class="shadow-sm p-1 m-1 bg-white rounded w-100">
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="default-section">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-md-5 order-2 order-md-1">
        <div class="row">
          <div class="col-6 offset-3">
            <p class="text-center">
              <img src="assets/img/app-notification.png" class="shadow-sm p-1 m-1 bg-white rounded w-100">
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-7 order-1 order-md-2">
        <h2>{{'pages.features.notifications.headline' | translate}}</h2>
        <p class="text-justify">{{'pages.features.notifications.information' | translate}}</p>
        <ul class="text-justify">
          <li>{{'pages.features.notifications.information-list.item-1' | translate}}</li>
          <li>{{'pages.features.notifications.information-list.item-2' | translate}}</li>
          <li>{{'pages.features.notifications.information-list.item-3' | translate}}</li>
          <li>{{'pages.features.notifications.information-list.item-4' | translate}}</li>
        </ul>
      </div>
    </div>
  </div>
</section>

<section class="default-section">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-md-7">
        <h2>{{'pages.features.statistics.headline' | translate}}</h2>
        <p class="text-justify">{{'pages.features.statistics.information' | translate}}</p>
        <ul class="text-justify">
          <li>{{'pages.features.statistics.information-list.item-1' | translate}}</li>
          <li>{{'pages.features.statistics.information-list.item-2' | translate}}</li>
          <li>{{'pages.features.statistics.information-list.item-3' | translate}}</li>
          <li>{{'pages.features.statistics.information-list.item-4' | translate}}</li>
        </ul>
        <p class="text-justify">{{'pages.features.statistics.information-2' | translate}}</p>
      </div>
      <div class="col-md-5">
        <div class="row">
          <div class="col-6">
            <p class="text-center">
              <img src="assets/img/app-stat-month-l.png" class="shadow-sm p-1 m-1 bg-white rounded w-100">
            </p>
          </div>
          <div class="col-6">
            <p class="text-center">
              <img src="assets/img/app-stat-month-d.png" class="shadow-sm p-1 m-1 bg-white rounded w-100">
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="default-section">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-md-5 order-2 order-md-1">
        <div class="row">
          <div class="col-6 offset-3">
            <p class="text-center">
              <img src="assets/img/permissions.png" class="shadow-sm p-1 m-1 bg-white rounded w-100">
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-7 order-1 order-md-2">
        <h2>{{'pages.features.privacy.headline' | translate}}</h2>
        <p class="text-justify">{{'pages.features.privacy.information' | translate}}</p>
        <ul class="text-justify">
          <li>{{'pages.features.privacy.information-list.item-1' | translate}}</li>
          <li>{{'pages.features.privacy.information-list.item-2' | translate}}</li>
          <li>{{'pages.features.privacy.information-list.item-3' | translate}}</li>
          <li>{{'pages.features.privacy.information-list.item-4' | translate}}</li>
          <li>{{'pages.features.privacy.information-list.item-5' | translate}}</li>
        </ul>
      </div>
    </div>
  </div>
</section>
