<div class="jumbotron">
  <div class="container">
    <h1 class="display-4">{{'pages.download.headline' | translate}}</h1>
  </div>
</div>

<section class="default-section">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h2>{{'pages.download.app-store.headline' | translate}}</h2>
        <p class="text-justify">{{'pages.download.app-store.information' | translate}}</p>
        <p class="text-center">
          <a href="https://f-droid.org/app/com.tmendes.birthdaydroid"
             target="_blank">
            <img src="https://f-droid.org/badge/get-it-on-{{getCurrentLanguage()}}.svg"
                 alt="Get it on F-Droid"
                 class="store-icon">
          </a>
          <a href="https://play.google.com/store/apps/details?id=com.tmendes.birthdaydroid"
             target="_blank">
            <img src="https://play.google.com/intl/en_us/badges/images/generic/{{getCurrentLanguage()}}-play-badge.png"
                 alt="Get it on Google Play"
                 class="store-icon">
          </a>
        </p>
      </div>
    </div>
  </div>
</section>

<section class="default-section">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h2>{{'pages.download.build-yourself.headline' | translate}}</h2>
        <p class="text-justify">{{'pages.download.build-yourself.information' | translate}}</p>
        <p class="text-center">
          <a href="https://gitlab.com/tmendes/BirthDayDroid"
             target="_blank">
            <img src="https://about.gitlab.com/images/press/logo/png/gitlab-logo-gray-rgb.png"
                 alt="Get it on Google Play"
                 class="store-icon">
          </a>
        </p>
      </div>
    </div>
  </div>
</section>
