@import "../global-variables";
@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";
@import "node_modules/bootstrap/scss/mixins";

.wrapper {
  display: flex;
  min-height: calc(100vh - #{$navbar-height});
  flex-direction: column;
  justify-content: space-between
}

nav {
  min-height: $navbar-height;
}

.nav-logo {
  height: 50px;
}

.dropdown-divider {
  border-top-color: $primary;
}

@include media-breakpoint-up(md) {
  .sticky-top-md {
    @supports (position: sticky) {
      position: sticky;
      top: 0;
      z-index: $zindex-sticky;
    }
  }
}
