<nav class="navbar navbar-expand-md sticky-top-md navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" [routerLink]="['/']">
      <img src="assets/logo.png" class="nav-logo" alt="logo">
    </a>
    <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse"
            data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" [routerLink]="['/home']" data-toggle="collapse"
             data-target="#navbarSupportedContent.show">
            {{'navbar.home-item' | translate}}
          </a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" [routerLink]="['/features']" data-toggle="collapse"
             data-target="#navbarSupportedContent.show">
            {{'navbar.features-item' | translate}}
          </a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" [routerLink]="['/download']" data-toggle="collapse"
             data-target="#navbarSupportedContent.show">
            {{'navbar.download-item' | translate}}
          </a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" [routerLink]="['/contribute']" data-toggle="collapse"
             data-target="#navbarSupportedContent.show">
            {{'navbar.contribute-item' | translate}}
          </a>
        </li>
      </ul>
      <div class="dropdown-divider bg-light"></div>
      <ul class="navbar-nav ml-auto">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
             aria-haspopup="true" aria-expanded="false">
            {{'languages.menu-item' | translate}}
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a *ngFor="let lang of supportedLanguages"
               class="dropdown-item pointer"
               [ngClass]="{'active': isCurrentLang(lang)}"
               (click)="changeLanguage(lang)"
               data-toggle="collapse"
               data-target="#navbarSupportedContent.show">
              {{'languages.' + lang | translate}}
            </a>
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="wrapper">
  <main>
    <router-outlet (activate)="changedRouteActivate($event)"></router-outlet>
  </main>

  <footer class="bg-dark">
    <div class="container">
      <div class="row pt-4 pb-3">
        <div class="col-12"><p class="text-center text-white">Go Open Source \o/ :D</p></div>
      </div>
    </div>
  </footer>
</div>
