@import "global-variables";
@import "node_modules/bootstrap/scss/bootstrap";

body {
  background-color: $light;
}

.pointer:hover {
  cursor: pointer;
}

.default-section {
  padding-top: 1rem;
  padding-bottom: 1rem;

  &:nth-child(odd) {
    background-color: darken($light, 2%);
  }
}

.jumbotron {
  margin-bottom: 0 !important;
}
