<div class="jumbotron">
  <div class="container">
    <div class="row">
      <div class="col-12 order-1 order-md-0">
        <h1 class="display-4 title">{{'pages.home.headline' | translate}}</h1>
      </div>

      <div class="col-md-9 order-2 order-md-1">
        <p class="lead subtitle text-justify">{{'pages.home.sub-headline' | translate}}</p>

        <hr class="my-4">
        <p class="lead subtitle text-justify">
          <strong>{{'pages.home.information-strong' | translate}}</strong>
          {{'pages.home.information' | translate}}
        </p>

        <a class="btn btn-primary btn-lg mr-3" href="#" [routerLink]="['/', 'download']" role="button">{{'pages.home.download-button' | translate}}</a>
        <a class="btn btn-outline-secondary btn-lg" href="#" [routerLink]="['/', 'features']" role="button">{{'pages.home.learn-more-button' | translate}}</a>
      </div>
      <div class="col-md-3 order-0 order-md-2">
        <p class="text-center">
          <img src="assets/logo-lg.png">
        </p>
      </div>
    </div>
  </div>
</div>
<div class="jumbotron-to-background-gradient"></div>
