@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";
@import "node_modules/bootstrap/scss/mixins";

@include media-breakpoint-up(md) {
  .title {
    font-size: 4rem;
  }
  .subtitle {
    font-size: 1.5rem;
    font-weight: 400;
  }
}

.jumbotron-to-background-gradient {
  height: 50px;
  background: rgb(2,0,36);
  background: linear-gradient(180deg, $jumbotron-bg 0%, $light 100%);
}
